<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns = "http://www.w3.org/1999/xhtml">
    <head>
        <title> Mis Clientes </title>
        <link rel="stylesheet" href="" th:href="@{/css/home_style.css}"/>
    </head>

    <body>

        <header>
            <img src="" th:src="@{/image/Logo.jpg}" alt=""/>

            <nav th:replace="layout/navigationBar :: navBar"> </nav>

        </header>

        <section id = "misClientes">

            <h2> Lista de Clientes </h2>

            <div th:if="${usuarios !=null and !usuarios.empty}">

                <table>
                    <tr>
                        <th> Nombre </th>
                        <th> Apellidos </th>
                        <th> Edad </th>
                        <th> Correo </th>
                        <th> Citas Clientes </th>
                        <th> Información cliente </th>
                        <th> Tratamientos cliente </th>
                    </tr>
                    <tr th:each="usuariolista : ${usuarios}">
                        <td th:text="${usuariolista.nombre}"/>
                        <td th:text="${usuariolista.apellidos}"/>
                        <td th:text="${usuariolista.edad}"/>
                        <td th:text="${usuariolista.Correo}"/>
                        <td> <a th:href="@{/Las Citas/} + ${usuariolista.id_usuarios}+ '/' + ${usuario.id_usuarios}+ '/' + 'misClientes'"> Ver Citas </a> </td>
                        <td> <a th:href="@{/Formulario/} + ${usuariolista.id_usuarios} + '/' + ${usuario.id_usuarios} + '/' + 'misClientes'"> Ver Información </a> </td>
                        <td> <a th:href="@{/Tratamientos/} + ${usuariolista.id_usuarios} + '/' + ${usuario.id_usuarios}"> Tratamientos </a> </td>


                    </tr>
                </table>
            </div>
            <div th:if="${usuarios == null or usuarios.empty}">

                <p> No se encuentran usarios registrados </p>

            </div>


        </section>

    </body>
</html>
