<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns = "http://www.w3.org/1999/xhtml">
    <head>
        <title>Tratamientos </title>
        <link rel="stylesheet" th:href="@{/css/home_style.css}"/>
    </head>

    <body>

        <header>
            <img src="" th:src="@{/image/Logo.jpg}" alt=""/>

            <nav th:replace="layout/navigationBar :: navBar"> </nav>

        </header>


        <section id = "misClientes">
            <br/>
            <a th:href="@{/Crear Tratamientos/} + ${tratamiento.id_Usuario} + '/' + ${usuario.id_usuarios}"> Crear Tratamiento </a>
            
            <div th:if="${tratamientos !=null and !tratamientos.empty}">
                <table border="1">
                    <tr>
                        <th> Id Usuario </th>
                        <th> Nombre </th>
                        <th> Duración </th>
                        <th> Precio </th>
                        <th> Eliminar </th>
                    </tr>
                    <tr th:each="tratamientosList : ${tratamientos}">
                        <td th:text="${tratamientosList.id_Usuario}"/>
                        <td th:text="${tratamientosList.nombre}"/>
                        <td th:text="${tratamientosList.duracion}"/>
                        <td th:text="${tratamientosList.precio}"/>
                        <td><a th:href="@{/Eliminar Tratamiento/} + ${tratamientosList.id_tratamientos} + '/' + ${tratamientosList.id_Usuario} + '/' + ${usuario.id_usuarios}" th:text="#{accion.eliminar}"/></td>
                    </tr>
                </table>
            </div>
            <div th:if="${tratamientos == null or tratamientos.empty}">
                <p> No se encuentran tratamientos en la lista</p>
            </div>


        </section> 

    </body>
</html>