html{
    scroll-behavior: smooth;
}
/* --------------- header & navbar --------------- */
/* --------> Header */
header{
    align-content: center; 
}

header img{
    text-align: center;
    margin: 15px;
    margin-left: auto; 
    margin-right: auto; 
    width: 250px;
    display: block;
}

/* --------> Bienvenida */
#Bienvenida{
    text-align: center; 
    height: 800px; 
}


#Bienvenida img{
    width: 500px;
    padding: 25px
}
#Bienvenida p{
    text-align: justify; 
}



/* --------> Menu Principal */
/* Da color a la barra y asigna su prioridad a la hora de mostrar la misma. */
.navbar{
    display: flex;
    justify-content: center;
    background-color: #47ACCD;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

/* Acomoda los items para que salgan uno a la par del otro */
.navbar ul{
    display: flex;
    list-style-type: none;
    margin:  20px 0px;
}

/* Camba el tipo de letra y tamaño*/
.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Cambia de color la letra, da un espacio entre los items a escoger */
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
    display:block;
}
.navbar ul > li  {
    float:left;
}
/* Da el efecto cuando se pasa el mouse por encima de los items */
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}



.navbar li ul {
    display:none;
    position:absolute;
    min_width:140px;
}

.navbar li:hover > ul{
    display:block;
    background-color: #47ACCD;
}

/* --------> Menu Index */
.navbar_index {
    display: flex;
    justify-content: center;
    background-color: #92CEE1;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}
.navbar_index ul{
    display: flex;
    list-style-type: none;
    margin:  20px 0px;
}
.navbar_index ul li {
    font-family: century;
    font-size: 1rem;
    font-weight: normal;
}
.navbar_index ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar_index ul li a:hover{
    background-color: #47ACCD;
    color: white;
    box-shadow: 0 0 10px #47ACCD;
}
.nav_index {
    display: flex;
    justify-content: center;
    background-color: #92CEE1;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}
.nav_index ul{
    display: flex;
    list-style-type: none;
    margin:  20px 0px;
}
.nav_index ul li {
    font-family: century;
    font-size: 0.8rem;
    font-weight: normal;
}
.nav_index ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}
.nav_index ul li a:hover{
    background-color: #47ACCD;
    color: white;
    box-shadow: 0 0 10px #47ACCD;

}

/* --------> Instalaciones */
table{
    text-align: center;
    padding: 15px;
}

#Instalaciones {
    text-align: justify; 
    background-color: #E7E7E7; 
    height: 800px; 
}
#Instalaciones h2 {
    text-align: center;
    padding: 15px;  
}
#Instalaciones table{
    text-align: center; 
    padding: 25px; 
    margin-left: auto; 
    margin-right: auto; 
}
#Instalaciones table th {
    width: 400px; 
}
#Instalaciones img{
    width: 266px;
    height: 197px; 
}

/* --------> Recomendaciones */
#Recomendaciones{
    text-align: center;
    height: 800px; 
}
#Recomendaciones h2 {
    text-align: center;
}
#Recomendaciones p {
    text-align: center;
}
#Recomendaciones table{
    text-align: center;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 0px
}
#Recomendaciones table tr{
    border: 0px; 
}
#Recomendaciones table td{
    border: 0px;
    padding: 25px; 
}
#Recomendaciones img{
    width: 450px;
    text-align: center; 
}

/* --------> Estandar */
.MensajeError{
    color: red; 
}


/* --------------- Formulario Ingreso de Sesion --------------- */
#InicioSesion {
    position: relative; 
    margin: 100px; 
    text-align: center;
}

#InicioSesion h2{
    text-align: center;
}

#InicioSesion form {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 

}

#InicioSesion form input {
    width: 350px;
    height: 35px;
    margin: 15px
}

.IngresarUsuario{
    background-color: #47ACCD;
    border: none; 
    color: white; 
}
/* --------------- Servicios --------------- */
#Coronasypuentes {
    text-align: center; 
    background-color: #E7E7E7; 
    height: 800px; 
}

#Coronasypuentes img{
    width: 300px;
    padding: 25px;


}
#Coronasypuentes  p{
    text-align: left; 
}

/* --------> Implantes  */
#Implantes {
    text-align: center; 
    background-color: #E7E7E7; 
    height: 800px; 
}

#Implantes img{
    width: 300px;
    padding: 25px;


}
#Implantes  p{
    text-align: left; 
}

/* --------> Periodoncia  */
#Periodoncia{
    text-align: center; 
    background-color: #E7E7E7; 
    height: 800px; 
}

#Periodoncia img{
    width: 300px;
    padding: 25px
}
#Periodoncia p{
    text-align: justify; 
}
/* --------> CirugiaMaxilo  */
#CirugíaMaxilofacial {
    text-align: center; 
    height: 800px; 
}

#CirugíaMaxilofacial img{
    width: 300px;
    padding: 25px
}
#CirugíaMaxilofacialp{
    text-align: justify; 
}
/* --------> Endodoncia  */
#Endodoncia {
    text-align: center;
    background-color: #E7E7E7; 
    height: 800px; 
}

#Endodoncia  img{
    width: 300px;
    padding: 25px
}
#Endodoncia  p{
    text-align: justify; 
}
/* --------> Odontopediatria  */
#Odontopediatria {
    text-align: center; 
    height: 800px; 
}

#Odontopediatria  img{
    width: 300px;
    padding: 25px
}
#Odontopediatria  p{
    text-align: justify; 
}
/* --------> Ortodoncia  */
#Ortodoncia {
    text-align: center; 
    background-color: #E7E7E7; 
    height: 800px; 
}

#Ortodoncia  img{
    width: 300px;
    padding: 25px
}
#Ortodoncia  p{
    text-align: justify; 
}

/* --------> Odonto  */
#OdontologiaGeneral{
    text-align: center; 
    height: 800px; 
}

#OdontologiaGeneral img{
    width: 300px;
    padding: 25px
}
#OdontologiaGeneral p{
    text-align: justify; 
}

/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}